html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Pangolin", cursive;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: left;
}

.bg-home {
    background: url("../img/bg-home.png") center no-repeat fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;        
    margin: 0 auto;
    background-size: cover;

}

.title {
    font-size: 2.8em;
    z-index: 9;
    color: #fff;
    position: relative;
    padding: 15px 25px;
    text-shadow: 1px 1px 2px black; 
}

.logo{
  font-weight: 400;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
